@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #E0C5C0;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*border: 1px solid red; para ver cajas*/
}

header {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 30px;
    height: 60px;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo{
    height: 100%;  
}

.navbar-list a {
    color: black;
    font-size: 15px;
    font-weight: 500;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #DEE2DB;
}

#hero{
    max-width: 1175px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.hero-info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
}

.hero-info h1{
    font-size: 36px;
    font-weight: 800;
    color: black;
}

.hero-info p {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.hero-info span {
    font-weight: 800;
    text-transform: uppercase;
}

.hero-info a {
background: #232f54;
border-radius: 10px;
padding: 10px 15px;
font-size: 14px;
color: whitesmoke;
}





